# fly.toml app configuration file generated for falkor on 2023-12-14T14:27:47-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "falkor"
primary_region = "sea"

[env]
  PORT = "3333"
  HOST = "0.0.0.0"
  NODE_ENV = "production"
  DRIVE_DISK = "local"


[http_service]
  internal_port = 3333
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  [http_service.concurrency]
    type = "requests"
    soft_limit = 200
    hard_limit = 250

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/"

[metrics]
port = 3333
path = "/metrics"