name: Node.js CI

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

env:
  HOST: 0.0.0.0
  PORT: 3333
  environment: test
  DRIVE_DISK: local
  APP_KEY: 5qLsRbCBzpjpgyJ3xNfd649c77YERiaF # Not an important key ;)
  CACHE_VIEWS: false
  APP_NAME: Falkor
  SESSION_DRIVER: cookie

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - run: npm test
